@charset "UTF-8";
header{
    z-index: 10;
	position: sticky;
}
nav{
    display: block;
	width: 100vw;
    position: fixed;
    background-image: url(../img/background/white-background.png);
    background-size: cover;   
    top: 0;
    left:-100vw;
    bottom: 0;
    transition: all 0.5s;
    z-index:3;
    opacity: 0;
}
.nav-img img{
   width: 200px;
   height: auto;
   margin:20px auto;
}
.open nav{
    left: 0;
    opacity: 1;
}
nav.inner{
    height: 100vh;
}
nav.inner ul{
    padding: 0;
    list-style: none;
    margin: 0;
    text-align: center;
}
nav.inner ul li{
    padding: 1vh 0;
    display: flex;
    justify-content: center;
}
nav.inner li a{
    width: 300px;
    text-decoration: none;
    display:block;
    background: linear-gradient(90deg, rgba(0, 180, 175, 1) , rgba(170, 120, 180, 1)); /* 左から右のグラデーション */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Firefox用 */
    color: transparent;
    transition-duration: .2s;
    filter: blur(8px);    
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s ease, transform 1s ease, filter 1s ease;
}
.open nav.inner ul li a {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);     
}
.open nav.inner ul li a :hover{
    background: linear-gradient(90deg, rgba(0, 180, 175, 1) ,rgb(0, 0, 0,.4), rgba(170, 120, 180, 1)); /* 左から右のグラデーション */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Firefox用 */
    color: transparent;
    filter: blur(2px);   
}
.open nav.inner ul li:nth-child(1) a { transition-delay: 0.15s; }
.open nav.inner ul li:nth-child(2) a { transition-delay: 0.3s; }
.open nav.inner ul li:nth-child(3) a { transition-delay: 0.45s; }
.open nav.inner ul li:nth-child(4) a { transition-delay: 0.6s; }
.open nav.inner ul li:nth-child(5) a { transition-delay: 0.75s; }
.open nav.inner ul li:nth-child(6) a { transition-delay: 0.90s; }
.open nav.inner ul li:nth-child(7) a { transition-delay: 1.05s; }
.inner-text-25px{
    font-size: 2vw;
}
.inner-text-active{
    background: linear-gradient(90deg, rgba(0, 180, 175, 1) ,rgb(0, 0, 0,.4), rgba(170, 120, 180, 1)); /* 左から右のグラデーション */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Firefox用 */
    color: transparent;
    filter: blur(2px);     
}
.toggle-btn{
    background: linear-gradient(#38b6ff99, #e4e3e399);
    border-radius: 10px;
    display: block;
    position: fixed;
    top:37px;
    right: 39px;
    height: 80px; 
    width: 80px;
    z-index: 3;
    cursor: pointer;
    transition: all 0.5s;
}
.toggle-btn span{
position: absolute;
display: block;
height: 1.5px;
background-color:#000;
transition: all 0.5s;
}
.toggle-btn span:nth-child(1){width: 50%; top: 33px;left: 25%;}
.toggle-btn span:nth-child(2){width: 50%;top: 40px;left: 25%;}
.toggle-btn span:nth-child(3){width: 50%;top: 47px;left: 25%;}
.open .toggle-btn span{background-color:#000;}
.open .toggle-btn span:nth-child(1){transform:translateY(7px)rotate(30deg);}
.open .toggle-btn span:nth-child(2){opacity: 0;}
.open .toggle-btn span:nth-child(3){transform:translateY(-7px)rotate(-30deg);}
#mask{display: none;
    transition:  all 0.5s;
    z-index: 1;
    }
    .open #mask{
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0;
    cursor: pointer;
    }
    
/*スマホ版------------------------*/
@media(max-width:500px){
    nav.inner ul{
        padding-top: 30px ;
    }
    .nav-img img{
        width: 150px;
        margin:20px auto;
     }
    .toggle-btn{
        top:45px;
        right: 18px;
        height: 70px; 
        width: 70px;
    }
    .toggle-btn span:nth-child(1){top: 28px;}
    .toggle-btn span:nth-child(2){top: 35px;}
    .toggle-btn span:nth-child(3){top: 42px;}
    .open .toggle-btn span:nth-child(1){transform:translateY(7px)rotate(30deg);}
    .open .toggle-btn span:nth-child(3){transform:translateY(-7px)rotate(-30deg);}
    nav.inner li a{width: 60%;}
    .inner-text-25px{font-size: 20px;}
}
@media (orientation: landscape) and (max-height: 450px) {
     .toggle-btn{
        height: 70px; 
        width:  70px;
    }
    .toggle-btn span:nth-child(1){top: 28px;}
    .toggle-btn span:nth-child(2){top: 35px;}
    .toggle-btn span:nth-child(3){top: 42px;}
    .open .toggle-btn span:nth-child(1){transform:translateY(7px)rotate(30deg);}
    .open .toggle-btn span:nth-child(3){transform:translateY(-7px)rotate(-30deg);}
    nav.inner li a{width: 60%;}
    .inner-text-25px{font-size: 20px;}
  }